<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Quiz Manager</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<form action="report" method="post">
			<center>
				<a href="fillquizzes">
					<button type="button" class="btn btn-success">Fill List</button>
				</a> <input type="submit" name="excel" value="Excel"
					class="btn btn-primary"> <input type="submit" name="pdf"
					value="PDF" class="btn btn-primary"> <input type="submit"
					name="mail" value="Mail" class="btn btn-primary">
			</center>

			<!--  list all employees ----------------------------------------------------------- -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<table data-toggle="table" class="table table-striped">
						<thead>
							<tr>
								<th>Select</th>
								<th>ID</th>
								<th>title</th>
								<th>Difficulty</th>
								<th>Creation Date</th>
								<th>Crazy Shit</th>
								<th>BarCode</th>				
							</tr>
						</thead>
						<tbody>
							<tr th:each="quiz : ${quizzes}">
								<td><input type="checkbox" name="quizId"
									th:value="${quiz.id}"></td>
								<td th:text="${quiz.id}"></td>
								<td th:text="${quiz.title}"></td>
								<td th:text="${quiz.difficulty}"></td>
								<td	th:text="${#calendars.format(quiz.creationDate,'dd.MM.yyyy')}"></td>
								<td th:text="${quiz.songs[0].title}"></td>
									<td><img
									th:src="@{${'qrcode/' + quiz.id}}"
									width="100" height="100"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--  list all employees ----------------------------------------------------------- -->
		</form>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
</html>
