<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title>Create Quiz</title>
<div th:replace="~{includes/adminLTE :: AdminLTECSS}" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<!-- Logo -->
			<a href="." class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>GtS</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Guess</b> the Song</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
			</nav>
		</header>
		<nav th:replace="~{includes/navBar :: sidebar(createQuiz='a')}"></nav>
		<div class="content-wrapper">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Enter a new Quiz</h3>
				</div>

				<!--  Error message ----------------------------------------------------------- -->
				<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
					class="alert alert-danger" role="alert"></div>
				<!--  Error message ----------------------------------------------------------- -->

				<!--  Warning message ----------------------------------------------------------- -->
				<div th:unless="${warningMessage} == null"
					th:utext="${warningMessage}" class="alert alert-warning"
					role="warning"></div>
				<!--  Warning message ----------------------------------------------------------- -->

				<!--   message ----------------------------------------------------------- -->

				<div th:unless="${message} == null" th:utext="${message}"
					class="alert alert-success" role="warning"></div>
				<!--   message ----------------------------------------------------------- -->

				<form class="form-horizontal" role="form" action="./savequiz"
					method="post">
					<div class="box-body">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="quizname"
									placeholder="Enter a name">
							</div>
						</div>
						<div class="form-group">
						<label for="searchType" class="col-sm-2 control-label">Difficulty:</label> 
						<div class="col-sm-10">
						<select id="searchType" class="form-control" name="difficulty" >
							<option th:value="1" selected="selected">1</option>							
							<option th:value="2" >2</option>
							<option th:value="3">3</option>
							<option th:value="4">4</option>
							<option th:value="5">5</option>
							<option th:value="6">6</option>
							<option th:value="7">7</option>
							<option th:value="8">8</option>
							<option th:value="9">9</option>
							<option th:value="10">10</option>
						</select>
						</div>
						</div>
						
					</div>
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Table of Questions</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Title</th>
										<th>Interpret</th>
										<th>Publish Date</th>
										<th>Answer 1</th>
										<th>Answer 2</th>
										<th>Answer 3</th>
										<th>Genre</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="song : ${songs}">
										<td><input type="checkbox" name="songId"
											th:value=" ${song.id}"></td>
										<td th:text="${song.title}"></td>
										<td th:text="${song.interpret}"></td>
										<td
											th:text="${#calendars.format(song.publishDate,'dd.MM.yyyy')}"></td>
										<td th:text="${song.answer1}"></td>
										<td th:text="${song.answer2}"></td>
										<td th:text="${song.answer3}"></td>
										<td th:text="${song.genre}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-body pad table-responsive">
						<a href="savequiz">
							<button type="submit" class="btn btn-block btn-primary">Create
								Quiz</button>
						</a>
						<!-- /.col -->
					</div>
				</form>

			</div>
		</div>

		<footer class="main-footer">
			<strong>Guess the Song &copy; 2019</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark"
			style="display: none;">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
						class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
						class="fa fa-gears"></i></a></li>
			</ul>

		</aside>
	</div>


	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>


	<!-- jQuery 3 -->
	<script src="static/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script
		src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- DataTables -->
	<script
		src="static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script
		src="static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script
		src="static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="static/bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="static/dist/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="static/dist/js/demo.js"></script>
	<!-- page script -->
	<script>
		$(function() {
			$('#example1').DataTable()
			$('#example2').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : false,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
</body>
</html>
