<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title>Songs</title>
<div th:replace="~{includes/adminLTE :: AdminLTECSS}" />
<link rel="stylesheet"
	href="static/plugins/timepicker/bootstrap-timepicker.min.css">
<link rel="stylesheet"
	href="static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="." class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>GtS</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Guess</b> the Song</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
			</nav>
		</header>
		<nav th:replace="~{includes/navBar :: sidebar}"></nav>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<!-- Small boxes (Stat box) -->

			<!-- /.row -->
			<!-- Main row -->


			<div class="container" role="main">
				<section class="content-header">
					<h1>Questions</h1>

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Question List</h3>
							<div class="box-tools">
								<a href="fillsongs">
									<button type="button" class="btn btn-success">Fill
										List</button>
								</a>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table">
								<tr>
									<th>Select</th>
									<th>ID</th>
									<th>Interpret</th>
									<th>Title</th>
									<th>Date</th>
									<th>mp3</th>
									<th>Answer 1</th>
									<th>Answer 2</th>
									<th>Answer 3</th>
									<th>Action</th>
								</tr>
								<tr th:each="song : ${songs}">
									<td><input type="checkbox" name="songId"
										th:value="${song.id}"></td>
									<td th:text="${song.id}"></td>
									<td th:text="${song.interpret}"></td>
									<td th:text="${song.title}"></td>
									<td
										th:text="${#calendars.format(song.publishDate,'dd.MM.yyyy')}"></td>
									<td><span th:if="${song.document != null}"> <a
											th:href="@{download(documentId=${song.document.id})}"
											target="_blank" th:text="${song.document.filename}"></a>
									</span> <span th:unless="${song.document != null}"> --- no file
											--- </span></td>
									<td th:text="${song.answer1}"></td>
									<td th:text="${song.answer2}"></td>
									<td th:text="${song.answer3}"></td>
									<td><a th:href="@{upload(id=${song.id})}">
											<button type="button" class="btn btn-xs btn-success">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												Upload
											</button>
									</a></td>
								</tr>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
					<div class="row">
						<form role="form" action="./addsong" method="post">
							<div class="col-xs-2">
								<label>Interpret</label> <input type="text" name="interpret"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<label>Title</label> <input type="text" name="title"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<label>Date</label> <input type="date" class="form-control" name = "strDate">
							</div>

							<div class="col-xs-2">
								<label>Answer 1</label> <input type="text" name="answer1"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<label>Answer 2</label> <input type="text" name="answer2"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<label>Answer 3</label> <input type="text" name="answer3"
									class="form-control">
							</div>
							<div class="col-xs-2">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>

					</div>
				</section>

				<!--  End of container -->
				<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
				</section>

			</div>


			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->

			<!-- right col -->
		</div>
		<!-- /.row (main row) -->

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
		<strong>Guess the Song &copy; 2019</strong> All rights reserved.
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark"
		style="display: none;">
		<!-- Create the tabs -->
		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
			<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
					class="fa fa-home"></i></a></li>
			<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
					class="fa fa-gears"></i></a></li>
		</ul>

	</aside>
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<div th:replace="~{includes/adminLTE :: AdminLTEJS}" />
</body>
</html>
