<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title>Songs</title>
<div th:replace="~{includes/adminLTE :: AdminLTECSS}" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<!-- Logo -->
			<a href="." class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>GtS</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Guess</b> the Song</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
			</nav>
		</header>
		<nav th:replace="~{includes/navBar :: sidebar}"></nav>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
	
				<div class="form-group" style="margin-left: 20px">
					<form class="form-horizontal" enctype="multipart/form-data"
						method="post" action="upload">
						<div class="contet-header">
							<legend th:text="'Upload Document for song ' + ${songId}"></legend>
						</div>
						<input type="hidden" name="id" th:value="${songId}"> <label
							for="inputFile">File:</label> <input id="inputFile" type="file"
							name="myFile">

						<div class="col-md-20 col-md-offset-2">
							<button type="submit" class="btn btn-primary">Upload</button>
							<a href="list">
								<button type="button" class="btn btn-default">Cancel</button>
							</a>
						</div>
					</form>
				</div>
		
			
		</div>
		<footer class="main-footer">
			<strong>Guess the Song &copy; 2019</strong> All rights reserved.
		</footer>
		<aside class="control-sidebar control-sidebar-dark"
			style="display: none;">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
						class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</aside>
		<div class="control-sidebar-bg"></div>
	</div>
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
	<div th:replace="~{includes/adminLTE :: AdminLTEJS}" />
</body>
</html>
