<aside th:fragment="sidebar" class="main-sidebar">
    <ul class="sidebar-menu" data-widget="tree">
          <li class="active treeview menu-open">		  
            <ul class="treeview-menu">
              <li class="active"><a href="admin"><i class="fa fa-circle-o"></i>Dashboard</a></li>
              <li><a href="quizAdmin"><i class="fa fa-circle-o"></i>Create Quizzes</a></li>
               <li><a href="quizManagement"><i class="fa fa-circle-o"></i>Manage Quizzes</a></li>
              <li><a href="adduser"><i class="fa fa-circle-o"></i>User Management</a></li>
              <li><a href="quizAdmin"><i class="fa fa-circle-o"></i>Quiz Statistics</a></li>
              <li><a href="songAdmin"><i class="fa fa-circle-o"></i>Song Manager</a></li>
              <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Logout</span></a></li>
            </ul>
          </li>
       </ul>
    </aside>